div{
    text-align: center;
}
p{
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    background-color: darkmagenta;
    border-radius: 5px;
    transition: opacity 1s;
}
span{
    float: right
}
